<div class="wrappage home-v1 home-v2 ...">
	<header id="header" class="header-v1 header-v2...">
		<div id="topbar">
			...
		</div>
		<!-- End top bar -->
		...
	</header>
	<!-- /header -->
	<div class="slidershow-container">
		...
	</div>
	<!-- End Slidershow-Container -->
	<div class="main-content">
		...
	</div>
	<!-- End Main-Content -->
	<footer id="footer" class="footer-v1 footer-v2...">
		...
	</footer>
	<!-- End footer -->
</div>

	</div>
 {% include "navbar.html" %}
    {% include 'messages.html' %} <! -- сообщения -->
    {% block content %} <!-- content - моя переменная -->

    {% endblock %}

    {% include "footer.html" %}
</body>
</html>






















    <!-- jquery-->

